.tmp.driveupload
.tmp.driveupload/*
.tmp.drivedownload
.tmp.drivedownload/*
Debug
Debug/*
Release
Release/*
HelenClearTypeToggle/packages
HelenClearTypeToggle/packages/*
HelenClearTypeToggle/.vs
HelenClearTypeToggle/.vs/*
Other
Other/*
.rar
.zip
.7z
.bak
*.vcxproj.user
HelenClearTypeToggle/bin
HelenClearTypeToggle/bin/*
HelenClearTypeToggle/obj
HelenClearTypeToggle/obj/*
HelenClearTypeToggle/.vs
HelenClearTypeToggle/.vs/*
HelenClearTypeToggle/Other
HelenClearTypeToggle/Other/*
HelenClearTypeToggle/.rar
HelenClearTypeToggle/.zip
HelenClearTypeToggle/.7z
HelenClearTypeToggle/.bak
HelenClearTypeToggle/*.csproj.user
